/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: navy;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 20px;
    display: inline;
    margin-right: 20px;
}

footer {
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 20px;
}

blockquote {
    font-style: italic;
    margin-top: 20px;
    text-align: center;
    border-color: green;
}

/* Image gallery styles */
.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}
.image-gallery .row {
    display: flex;
    justify-content: space-around; /* Distribute images evenly in the row */
    margin-bottom: 20px; /* Add spacing between rows */
}

.image-gallery img {
    width: 250px; /* Adjust image width to fit three images in a row with spacing */
    margin: 20px; /* Add spacing between images */
    height: auto; /* Maintain aspect ratio */
}

@media (max-width: 768px) {
    .image-gallery img {
        width: calc(50% - 20px); /* Adjust image width for smaller screens to fit two images in a row */
    }
} 

/* Navigation styles */
.navigation {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 0;
}